/* Navigation bar styles */
nav {
  background-color: #333;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding:11px;
  color: #fff;
  font-size: 25px;
}


nav a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 10px; /* Add rounded corners */
}

/* Full-width background image styles */
.background-image {
  background-image: url("pictures/background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  font-size: 36px;
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}


.cat {
  width:80%;
  margin:100px auto 50px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap:30px;
}

.picture-container{
  border-radius: 10px; /* Add rounded corners */
  border: 1px solid #000000; /* Add a black border */
  cursor: pointer;

}

.picture-container img {
  border-radius: 10px; /* Add rounded corners */
  width: 100%;
  height: 100%; /* Keep the aspect ratio */
  object-fit: cover; /* Crop and center the image */
}

.picture-container {
  position: relative;
}

.picture-container .overlay {
  border-radius: 10px; /* Add rounded corners */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set the color and opacity you want */
  opacity: 0; /* initially hidden */
  transition: opacity 0.3s ease;
}

.picture-container:hover .overlay {
  opacity: 1; /* show the overlay on hover */
}

.text {
  color: white;
  font-size: 19px;
  padding: 16px 32px;
}
h1{
  position:absolute;
  font-size:50px;
  top:230px;
  color:aliceblue;
}
h2 {
  margin-top:50px;
  color:#333;
  }

  #contacts_col{
    margin-left:210px;
    width:600px;
    margin-bottom:55px;
  }
  #location{
    width:470px;
    margin-left:820px;
      
  }
  #location_pic{
    position:absolute;
    top:410px;
    bottom:100px;
  }
  #contact_pic{
    width:1503px;
  }
h3 {
    font-size:120px;
    font-family: 'Didot','Didot LT STD','Hoefler Text','Garamond','Times New Roman',serif; 
    font-weight:100;
    margin-left:-800px;
    margin-top:-50px;
  }
  .special{
    color:#3a1c0f;
    font-style:italic;
  }
  h5{
    position:absolute;
    font-size:15px;
    margin-top:225px;
    margin-left:-700px;
  }
  hr{
    position:relative;
    margin-top:-10px;
    top:565px;
    margin-right:800px;
    margin-left:105px;
    border: 0;
    height: 1.8px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(53, 13, 13, 0.75), rgba(40, 7, 7, 0));
  }
  .second{
    top:615px;
    height:1.8px;
  }
  .taste{
    position:absolute;
    margin-top:427px;
    margin-left:-815px;
    font-family: 'Didot','Didot LT STD','Hoefler Text','Garamond','Times New Roman',serif;
    font-weight:bold;
    font-size:20px;
    color:#4a1c08;
  }

